/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Proxcellence custom styles
   ========================================================================== */

@font-face {
    font-family: 'EtelkaTextPro';
    src: url('fonts/EtelkaTextPro.eot');
    src: url('fonts/EtelkaTextPro.eot') format('embedded-opentype'),
         url('fonts/EtelkaTextPro.woff2') format('woff2'),
         url('fonts/EtelkaTextPro.woff') format('woff'),
         url('fonts/EtelkaTextPro.ttf') format('truetype'),
         url('fonts/EtelkaTextPro.svg#EtelkaTextPro') format('svg');
    font-weight: lighter;
    font-style: normal;
}


@font-face {
    font-family: 'EtelkaTextProBold';
    src: url('fonts/EtelkaTextProBold.eot');
    src: url('fonts/EtelkaTextProBold.eot') format('embedded-opentype'),
         url('fonts/EtelkaTextProBold.woff2') format('woff2'),
         url('fonts/EtelkaTextProBold.woff') format('woff'),
         url('fonts/EtelkaTextProBold.ttf') format('truetype'),
         url('fonts/EtelkaTextProBold.svg#EtelkaTextProBold') format('svg');
         font-weight: bold;
         font-style: normal;
}

#kleinscherm {
    display: none;
}

#container {
    position: relative;
    width: 100%;
    float: left;
    height: auto;
    min-height: 100vh;
    background-color: #f1f1f1;
}

#header {
    width: 100%;
    height: 180px;
    background-color: #fff;
    top: 0;
    left: 0;
    position: fixed;
    z-index: 5;
    border-bottom: 2px solid #f1f1f1;
}

#footer {
    width: 100%;
    height: 100px;
    float: left;
    background-color: #f1f1f1;
}

#settings {
    width: 65%;
    min-width: 900px;
    float: right;
    /* background-color: #f1f1f1; */
    height: 80px;
    margin-top: 22px;
    margin-right: 20px;
    color: #555;
}

#settings2 {
    width: 320px;
    float: right;
    height: 80px;
    margin-top: 0px;
    margin-right: 0px;
}

#servicecode {
    width: 80px;
    height: 80px;
    line-height: 80px;
    text-align: center;
    border-right: 10px solid #fff;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 14px;
    margin: 0;
    padding: 0;
    float: left;
    max-width: 900px;
}

#servicecode_twee {
    width: 80px;
    height: 70px;
    line-height: 25px;
    text-align: center;
    border-left: 10px solid #fff;
    border-right: 10px solid #fff;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 12px;
    float: left;
    margin: 0;
    padding-top:15px;

}

#settings p {
    display: inline-block;
    float: left;
    width: 60%;
    margin-top: 0px;
    margin-left: 18px;
    padding: 0;
    font-family: sans-serif;
    font-size: 13px;
    line-height: 20px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

#settings p#servicecode_tekst {
    width: 60%;
    margin-right: 60px;
    float: right;
    text-align: right;
}

#settings p#servicecode_twee_tekst {
    width: 160px;
    font-size: 11px;
        position: relative;
    top: 50%;
    transform: translateY(-50%);
}

#header .logo img {
    width: 140px;
    float: left;
    margin-left: 20px;
    margin-top: 20px;
}

#header #breadcrumbs {
    float: left;
    width: 50%;
    padding-top: 30px;
}

#header #breadcrumbs ul {
    height: 20px;
    float: left;
    list-style: none;
    margin: 0;
    padding: 0;
    font-weight: bold;
    margin-left: 40px;
}

#header #breadcrumbs ul a  {
    color: #555;
}

#header #breadcrumbs ul li {
    float: left;
    margin-left: 10px;
    width: auto;
    padding-left: 10px;
    padding-right: 10px;
    text-align: left;
    font-family: sans-serif;
    font-size: 14px;
    line-height: 25px;
    color: #555;
}

#header #breadcrumbs ul a:hover {
    color: #ccc;
}

#header #breadcrumbs ul li.home {
    margin-top: -3px;
}

#header #breadcrumbs ul li.active {
    color: #ccc;
}

#header #breadcrumbs ul li img {
    width: 22px;
    margin: 0;
    padding: 0;
}

#start {
    padding-top:180px;
    min-height: 80vh;
    width: 100%;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

#start ul {
    list-style: none;
    padding-top: 40px;
    width: 20%;
    float: left;
    height: 100%;
}

#start ul li {
   width: 100%;
   height: auto;
   text-align: left;
   border: 1px solid #dedede;
}

#start ul li.darker{
   background-color: #fff;
}

#start ul li:hover{
   background-color: #ddd;
   border: 1px solid #F50B42;
}

#start ul a{
    color: #00afdb;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 22px;
    line-height: 50px;
    text-indent: 10%;
}


#content {
    padding-top:180px;
    min-height: 80vh;
    float: left;
}

#content ul {
    list-style: none;
    padding-top: 40px;
}

#content ul a{
    color: #00afdb;
}


#content ul li {
    width: 250px;
    padding-top: 55px;
    padding-bottom: 55px;
    background-color: #fff;
    border: 2px solid #eee;
    border-radius: 5px;
    text-align: center;
    float: left;
    margin: 10px;
    font-family: sans-serif;
}

#content ul li:hover {
     border: 2px solid #F50B42;
     cursor: pointer;
}

#content ul a li:hover {
     border: 2px solid #F50B42;
     cursor: pointer;
}

span.letop {
    font-weight: bold;
}

#content .images {
    width: 94%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
    margin-bottom: 0;
}

#content .images img {
    width: 10%;
    min-width: 100px;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    -webkit-clip-path: none;
    clip-path: none;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (max-width: 1100px) {
    /* Style adjustments for viewports that meet the condition */


#kleinscherm {
    display: inline-block;
     position: fixed;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      overflow: auto;

      z-index: 99;
      background-color: #fff;
}

#kleinscherm .center {
    width: 250px;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    text-align: center;
    padding-top: 20vh;
}

#kleinscherm .center p {
    padding-top: 25px;
    padding-bottom: 100px;
    font-size: 15px;
    line-height: 24px;
    font-family: sans-serif;
    color: #c1c1c1;
}

#kleinscherm img {
    width: 200px;
    margin-left: auto;
    margin-right: auto;
}

}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
